// Functions
.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;

    /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}


.shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

.insetshadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
  box-shadow: inset @arguments;
  -moz-box-shadow: inset @arguments;
  -webkit-box-shadow: inset @arguments;
}

.transition (@duration: 200ms, @function: ease-in-out, @property: all) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -ms-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

.rotate (@deg: 0) {
  -moz-transform: rotate(@deg);
  -webkit-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  transform: rotate(@deg);
}

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
}
.bw-gradient(@color: #F5F5F5, @start: 0, @stop: 255) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, rgb(@start,@start,@start)),
                               color-stop(1, rgb(@stop,@stop,@stop)));
  background: -ms-linear-gradient(bottom,
                                  rgb(@start,@start,@start) 0%,
                                  rgb(@start,@start,@start) 100%);
  background: -moz-linear-gradient(center bottom,
                                   rgb(@start,@start,@start) 0%,
                                   rgb(@stop,@stop,@stop) 100%);
}

// Main Styles;
body {
  padding: 50px;
  // font: 14px / 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/gplaypattern.png');
  background-color: #f0f0f0;
}

a {
  cursor: pointer;
  color: #00B7FF;
}

/* Promptu header icon */
.triangle-isosceles {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 28px 18px 5px 18px;
  color: #000;
  background: #0078a5;
  height: 50px;
  width: 200px;
  background: -moz-linear-gradient(top, #f9d835, #f3961c);
  background: linear-gradient(top, #f9d835, #f3961c);

  .rounded-corners(10px);
  .shadow(0,1px,5px,rgba(0,0,0,0.2));
}

.triangle-isosceles:after {
  content: "";
  display: block /* reduce the damage in FF3.0 */;
  position: absolute;
  bottom: -12px;
  left: 20px;
  width: 0;
  border-width: 12px 12px 0;
  border-style: solid;
  border-color: #0078a5 transparent;
}

.sideNav {
  float: left;
  width: 350px;
  margin-left: -50px;
}

#profileBox {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 18px;
  .rounded-corners(10px);
  width: 230px;
  border-color: #0078a5;
  border-style: dashed;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-weight: 200;
  color: black;
  .shadow(5px, 5px, 10px, rgba(0,0,0,0.2));
}

.options:hover {
  position: relative;
  top: -2px;
  color: #0078a5;
  cursor: pointer;
  cursor: hand;
}

input {
  width: 230px;
}

input[type=text] {
  border-color: #AAA;
  height: 35px;
  font-size: 20px;
}

button {
  float: left;
}

img {
  height: 35px;
  width: 35px;
}



.notif {
  border: 1px solid #DDD;
  background-color: #F0F0F0;
  margin: 20px 0;
  height: 115px;

  .notif-priority {
    width: 10px;
    height: 101%;
    float: left;
    .insetshadow(-2px, 0px, 5px, #BBB);
  }

  .priority-0 { background-color: #E34A33 }
  .priority-1 { background-color: #FDBB84 }
  .priority-2 { background-color: #91BFDB }
  .priority-3 { background-color: #2C7BB6 }


  .notif-content {

  }
  .pushpin {
    float: right;
    position: relative;
    top: -7px;
  }
  .pushpin-img {
    width: 35px;
    .transition;
    .rotate(90deg);
  }

  .pushpin-img:hover, .pushpin-active {
    .rotate;
  }

  .pushpin-active {
    color: red;
  }

  .notif-header {
    padding: 20px 30px;
    margin: 0;
    border-bottom: 1px solid #DDD;
    background-color: #F8F8F8;
  }
  .notif-header-text {
    display: inline-block;
  }

  .notif-body {
    padding: 15px 30px;
    margin: 0;
    border-top: 1px solid white;
  }
  .notif-tag {
    padding: 2px 5px;
    border: 1px solid #5590D8;
    background-color: #7EABE2;
    color: white;
    border-radius: 5px;
    line-height: 20px;
  }
  .notif-tag:hover {
    background-color: #8cb4e5;
  }
}